
body {
 
  display: flex;
  justify-content: center;
}
a{
  color: #ffffff;
margin: 20px;
text-decoration: none;
}
.insert{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 50px;
  background-color: #dfdfdf;
  box-shadow: black 0px 0px 5px 2px ;

}


.Appsignin {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  padding: 2vw 1vw;
  background-color: rgb(250, 194, 194);
  border-radius: 0 0 10px 10px;
}

input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
}

/* input{
  margin: 9px;
padding: 3px;
} */
label{
  text-align: center;
}

#btn{
  height: 30px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;

}
.header{
display: flex;
justify-content: center;
background-color: rgb(110, 54, 35);
}

.hpage{
display: flex;
  justify-content: center;
  align-items: center;
}

table, td, th {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
 width:90%;
}

th {
background-color: #c08e8e;
  height: 70px;
}


.tdiv{
display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  width: 30vw;
  /* background-color: rgb(190, 164, 214); */
  /* padding: 2vw 1vw; */
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////*/


.section#entry-page {
  display: grid;
  grid-template-columns: 1fr minmax(200px,400px) 1fr;
  grid-template-rows: 1fr minmax(auto,1fr) 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;
}
  .section#entry-page{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    margin: auto 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    box-shadow: 0 32px 64px rgba(0,0,0,0.2);}
    h2 {
      margin-bottom: 5px;
      text-align: center;
      text-shadow: 0 4px 16px #fff;
      font-size: 30px;
      font-weight: 100;
    }
    fieldset {
      margin: 0;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
      legend {
        padding: 5px;
        background-color: #fff;
        border-radius: 5px;
      }
      ul {
        margin: 0;
        padding: 0;}
        li {
          display: grid;
          align-items: center;
          margin: 10px;}
          em {
            grid-column: span 2;
            text-align: center;
            padding: 5px;
          }
          label {
            text-align: left;
            padding-bottom: 2px;
          }
          input {
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
          }
          
        
      
    
    button {
      padding: 10px;
      border:1px solid rgba(0,0,0,0);
      border-radius: 5px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
 
      }
  
